@use '../abstracts' as *;

.brands {
    &__container {
        max-width: rem(1440);

        margin-inline: auto;
        padding-block: rem(64);
        padding-block-start: 4rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2rem;
        column-gap: rem(27);

        padding: 0;

        list-style: none;
    }

    &__item {
        height: rem(20);

        img {
            display: block;
            width: auto;
            height: 100%;
        }
    }

    @include tablet {
        &__list {
            max-width: 60%;
            margin-inline: auto;
        }
        &__item {
            height: rem(32);
        }
    }

    @include desktop {
        &__container {
            padding-block-start: 3.4rem;
        }

        &__list {
            max-width: min(rem(1192), 90%);
            justify-content: space-between;
        }
    }
}
