@use '../abstracts/' as *;

.header {
    position: relative;
    padding-block: rem(35);

    &__container {
        max-width: rem(1440);
        margin-inline: auto;
        padding-inline: 1rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        margin-inline: auto;

        position: relative;
    }

    &__logo-wrapper,
    &__menu-wrapper {
        padding: rem(4);
    }

    &__logo {
        display: block;
        width: auto;
        height: rem(40);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: end;

        z-index: 10;

        width: rem(40);
        height: rem(40);
        gap: rem(6);

        padding: 0;
        border: 0;
        border-radius: rem(10);

        background-color: $primary-color;
        cursor: pointer;

        &:focus-visible {
            outline: rem(2) dotted $primary-color;
            outline-offset: rem(4);
        }
    }

    &__menu-line {
        width: rem(23);
        height: rem(3);

        border-radius: rem(2);

        background-color: $neutral-color;
    }

    &__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: rem(240);
        height: 100vh;
        gap: rem(32);

        padding: rem(48);

        transform: translateX(100%);
        transition: transform 300ms ease;

        background-color: $neutral-color;

        &.open {
            transform: translateX(0);
        }
    }

    &__nav-overlay {
        position: fixed;
        inset: 0;
        z-index: 100;

        background-color: rgba($dark-color, 0.3);

        visibility: hidden;
        transition:
            opacity 300ms ease,
            visibility 300ms ease;

        pointer-events: none;

        &.open {
            visibility: visible;
            opacity: 1;
        }
    }

    &__nav-close-btn {
        position: absolute;
        top: rem(10);
        left: rem(10);

        width: rem(24);
        aspect-ratio: 1/1;
        padding: 0;

        border: 0;
        border-radius: rem(6);

        background: transparent;
        cursor: pointer;

        &:focus,
        &:focus-visible {
            outline: rem(2) dotted $dark-color;
            outline-offset: rem(4);
        }
    }

    &__decoration {
        position: absolute;
        width: rem(272);
        height: rem(348);

        border-radius: 50%;

        top: rem(-36);
        left: rem(-33);

        pointer-events: none;

        background: #ff5722;
        filter: blur(rem(125));
        opacity: 50%;
    }

    &__cta {
        display: none;
    }

    @include tablet {
        padding: rem(32) 0;

        &__container {
            grid-template-columns: repeat(3, auto);
            justify-content: space-between;
            padding-inline: 4rem;
        }

        &__menu {
            justify-self: start;
            order: -1;
        }

        &__logo {
            margin-inline-start: 11rem;
        }

        &__decoration {
            width: rem(500);
            height: rem(500);

            filter: blur(rem(200));

            top: rem(-174);
            left: rem(-163);
        }
        &__cta {
            @include flex-center;
            display: block;
            justify-self: end;

            .btn--ghost {
                border: none;
            }
        }
    }

    @include desktop {
        margin-block-start: rem(34);

        &__container {
            grid-template-columns: auto 1fr auto;
            max-width: rem(1193);
            margin: 0 auto;
            padding: 0;
        }

        &__menu,
        &__menu-wrapper,
        &__nav-close-btn {
            display: none;
        }

        &__logo {
            order: 0;
            margin-inline-start: 0;
        }

        &__nav {
            position: static;

            flex-direction: row;
            justify-content: center;

            width: auto;
            height: auto;
            gap: rem(64);

            padding: 0;

            transform: translateX(0);
            transition: none;

            background-color: transparent;
        }

        &__nav-overlay {
            display: none;
        }
    }
}
