@use '../abstracts/' as *;

.header {
    position: relative;
    padding-block: rem(35);

    &__container {
        max-width: rem(1440);
        margin-inline: auto;
        padding-inline: 1rem;

        position: relative;
    }

    &__logo-wrapper,
    &__menu-wrapper {
        padding: rem(4);
    }

    &__group--brand {
        @include flex-center;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        width: auto;
        height: rem(40);
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: end;

        z-index: 10;

        width: rem(40);
        height: rem(40);
        gap: rem(6);

        padding: 4;
        border: 0;
        border-radius: rem(10);

        background-color: $clr-primary;
        cursor: pointer;

        &:focus-visible {
            outline: rem(2) dotted $clr-primary;
            outline-offset: rem(4);
        }
    }

    &__menu-line {
        width: rem(23);
        height: rem(3);

        border-radius: rem(2);

        background-color: $clr-white;
    }

    &__nav {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;

        width: rem(240);
        height: 100vh;

        padding: rem(48);

        transform: translateX(100%);
        transition: transform 300ms ease;

        background-color: $clr-white;

        overflow: hidden;

        &.open {
            transform: translateX(0);
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(32);
    }

    &__cta {
        margin-block-start: rem(16);
    }

    &__nav-overlay {
        position: fixed;
        inset: 0;
        z-index: 100;

        background-color: rgba($clr-black, 0.3);

        visibility: hidden;
        transition: $fade-transition;

        pointer-events: none;

        &.open {
            visibility: visible;
            opacity: 1;
        }
    }

    &__nav-close-btn {
        position: absolute;
        top: rem(10);
        left: rem(10);

        width: rem(24);
        aspect-ratio: 1/1;
        padding: 0;

        border: 0;
        border-radius: rem(6);

        background: transparent;
        cursor: pointer;

        &:focus,
        &:focus-visible {
            outline: rem(2) dotted $clr-black;
            outline-offset: rem(4);
        }
    }

    &__decoration {
        position: absolute;
        width: rem(272);
        height: rem(348);

        border-radius: 50%;

        top: rem(-36);
        left: rem(-33);

        pointer-events: none;

        background: $clr-orange;
        filter: blur(rem(125));
        opacity: 50%;
    }

    @include tablet {
        padding-block: rem(32);

        &__container {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr auto 1fr;

            padding-inline: 4rem;
        }

        &__group--brand {
            display: contents;
        }

        &__nav {
            display: contents;

            padding: rem(48);

            position: static;

            height: auto;
            width: auto;

            transform: translateX(0);
            transition: none;

            background-color: $clr-white;

            overflow: hidden;
        }

        &__menu {
            justify-self: start;
            order: -1;
        }

        .tablet-sidebar {
            position: fixed;
            right: 0;
            top: 0;
            z-index: 100;

            height: 100vh;
            width: rem(240);

            padding: rem(48);

            transform: translateX(100%);
            transition: transform 300ms ease;

            background-color: $clr-white;

            overflow: hidden;
        }

        &__nav.open .tablet-sidebar {
            transform: translateX(0);
        }

        &__cta {
            margin-block-start: 0;
            justify-self: end;
        }

        &__decoration {
            width: rem(500);
            height: rem(500);

            filter: blur(rem(200));

            top: rem(-174);
            left: rem(-163);
        }
    }

    @include desktop {
        margin-block-start: rem(34);
        &__container {
            grid-template-columns: auto 1fr auto;

            max-width: min(90%, rem(1193));
            margin: 0 auto;
            padding: 0;
        }

        &__menu,
        &__menu-wrapper,
        &__nav-close-btn {
            display: none;
        }

        &__logo {
            order: 0;
            margin-inline-start: 0;
        }

        &__nav {
            position: static;
            display: contents;
            padding: 0;

            transform: translateX(0);
            transition: none;

            background-color: transparent;
        }

        .tablet-sidebar {
            position: static;

            height: auto;
            width: auto;

            padding: 0;

            transform: translateX(0);

            background-color: transparent;

            overflow: hidden;
        }

        &__links {
            display: flex;
            flex-direction: row;
            justify-content: center;

            width: auto;
            height: auto;
            gap: rem(64);
        }

        &__cta {
            flex-direction: row;
        }

        &__links {
            position: static;
        }

        &__nav-overlay {
            display: none;
        }
    }
}
