@use '../abstracts/' as *;

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 2rem 0;
}

.header__logo {
    height: rem(40);
}

.header__menu {
    justify-self: end;
}

.header__menu {
    @include flex-center;
    gap: 6px;
    height: rem(40);
    width: rem(40);
    background-color: $primary-color;
    border-radius: rem(8);
    flex-direction: column;
}

.header__menu-line {
    height: 3px;
    width: 23px;
    border-radius: 1.5px;
    background-color: $neutral-color;
}

.header__nav-link {
    font-size: $fs-sm;
    font-weight: $fw-bold;
    color: $text-nav-link;
}

.header__nav-link--active {
    color: $txet-nav-link-active;
}

@include tablet {
    .header {
        grid-template-columns: 1fr auto 1fr;
    }

    .header__menu {
        justify-self: start;
        order: -1;
    }

    .header__actions {
        display: block;
        justify-self: end;
    }
}

@include desktop {
    .header {
        display: flex;
        justify-content: space-between;
    }
    .header__menu {
        display: none;
    }
    .header__logo {
        order: 0;
    }

    .header__nav {
        display: flex;
        gap: 4rem;
    }
}
