@use '../abstracts' as *;
@use '../components' as *;

.hero {
    position: relative;
    padding: rem(29) rem(16) 0;

    overflow: visible;

    &__triangles {
        display: none;
    }

    &__container {
        position: relative;
        z-index: 1;
    }

    &__media {
        width: 100%;
        max-width: rem(396);
        margin-inline: auto;

        picture,
        img {
            display: block;
            margin: 0 auto;
        }

        img {
            height: auto;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: -0.5rem;
    }

    &__tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: rem(16);
        width: fit-content;
        margin-inline: auto;

        color: $clr-secondary;
        border: 0;
        box-shadow: $btn-outline-shadow;

        i {
            font-size: rem(20);
        }
    }

    &__title {
        margin-top: rem(16);
        text-align: center;
        text-wrap: wrap;
        span {
            color: $clr-secondary;
        }
    }

    &__description {
        margin-block-start: rem(24);
        padding-inline: rem(10);
        text-align: center;
        text-wrap: wrap;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: rem(24);
        width: 100%;
        margin-top: rem(32);

        .btn {
            width: 100%;
            padding-block: rem(24);
        }
    }

    @include tablet {
        padding: rem(64);

        &__triangles {
            display: block;
            position: absolute;
            bottom: rem(-100);
            left: rem(21);
            z-index: 100;
        }

        &__container {
            max-width: 100%;
        }

        &__title {
            padding-inline: 9rem;
        }

        &__description {
            max-width: 42ch;
        }

        &__media {
            width: min(100%, rem(772));
            max-width: rem(772);
            margin-inline: auto;

            picture,
            img {
                width: 100%;
            }

            img {
                aspect-ratio: 772 / 713;
                object-fit: cover;
                object-position: top;
            }
        }

        &__content {
            gap: rem(43);
            margin-top: 4rem;
        }

        &__tag {
            margin-inline: 0;
        }

        &__title {
            margin-top: 0;
        }

        &__description {
            margin-top: 0;
            padding: 0 1.5rem;
        }

        &__actions {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: rem(16);
            width: auto;
            margin-top: 0;

            .btn {
                width: auto;
                padding-block: rem(16);
            }
        }
    }

    @include desktop {
        &__triangles {
            display: block;
            position: absolute;
            top: rem(655);
            left: -5.5rem;
            z-index: 100;
        }

        &__container {
            max-width: rem(1192.65);
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        &__content {
            order: 1;
            align-items: flex-start;
            margin-top: 0;
            text-align: left;
            max-width: rem(420);
        }

        &__media {
            order: 2;
        }

        &__tag {
            margin-inline: 0;
        }

        &__title {
            text-align: left;
            padding: 0;
        }

        &__description {
            margin-inline: 0;
            text-align: left;
            padding: 0;

            span {
                display: block;
            }
        }

        &__actions {
            justify-content: flex-start;
        }
    }
}
