@use '../abstracts' as *;

.btn {
    border: none;
    border-radius: rem(100);
    box-shadow: $btn-shadow-1;
    font-family: $ff-primary;
    font-weight: $fw-bold;
    padding: rem(16) rem(32);
    width: 100%;
    line-height: 1.2;
    border-width: 1px;
    border-style: solid;

    &__icon {
        width: rem(24);
        height: rem(24);
    }

    &--primary {
        border-color: $primary-color;
        color: $primary-btn-text-color;
        background-color: $primary-color;
    }

    &--outline {
        border-color: $gray-color;
        color: $secondary-btn-text-color;
        background-color: transparent;
        box-shadow: none;
    }

    &--icon {
        width: rem(64);
        height: rem(64);
        padding: 0;
        border-radius: 50%;

        .btn__icon {
            font-size: rem(16);
        }
    }

    @include tablet {
        width: fit-content;

        &--icon {
            width: rem(100);
            height: rem(100);
        }
    }
}
