@use '../abstracts' as *;

.btn {
    border-radius: rem(100);
    font-family: $font-primary;
    font-weight: $font-bold;
    font-size: $font-sm;
    padding: rem(16) rem(32);
    width: 100%;
    line-height: 1.2;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;

    &__icon {
        @include flex-center;
        width: rem(24);
        height: rem(24);
    }

    &--primary {
        border-color: $clr-primary;
        color: $clr-gray-0;
        background-color: $clr-primary;
    }

    &--outline {
        border-color: $clr-gray-0;
        color: $clr-dark;
        background-color: transparent;
        box-shadow: none;
    }

    &--ghost {
        background-color: transparent;
        color: $clr-dark;
        border-color: transparent;
    }

    &--icon {
        width: rem(64);
        height: rem(64);
        padding: 0;
        border-radius: 50%;

        .btn__icon {
            font-size: rem(16);
        }
    }

    @include tablet {
        width: fit-content;

        &--icon {
            width: rem(100);
            height: rem(100);
        }
    }
}
