@use 'functions' as *;

// Colors
$primary-color: #5d50c6;
$secondary-color: #f85e9f;
$tertiary-color: #ff5722;
$purple-color: #5d50c6;
$pink-color: #f85e9f;
$orange-color: #ff5722;
$yellow-color: #facd49;
$neutral-color: #ffffff;
$dark-color: #000000;
$gray-color: #eeeeee;

$gray-dark-color: #191825;
$testimonial-description-color: #191825;
$testimonial-role-color: #191825bf;

$text-color: #19182580;
$text-nav-link: #19182580;
$text-nav-link-active: #222831;

$travel-point-card-text-color: #191825;
$travel-point-card-border-color: #1918251a;

$accordian-btn-text-color: #292d32;
$accordian-btn-border-color: #292d32;

$footer-nav-link-color: #191825bf;

$primary-btn-text-color: #eeeeee;
$secondary-btn-text-color: #222831;

// Typography
$font-primary: 'Circular Std', sans-serif;

$font-secondary: 'Inter', sans-serif;

// Font sizes
$font-sm: rem(14);
$font-base: rem(16);
$font-lg: rem(18);
$font-xl: rem(23);
$font-2xl: rem(35);
$font-3xl: rem(44);
$font-4xl: rem(69);

// Font weights
$font-thin: 300;
$font-reg: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Shadows
$btn-shadow-1:
    0 0 0 0 rgba(0, 0, 0, 0.1),
    0 5px 11px 0 rgba(0, 0, 0, 0.1),
    0 20px 20px 0 rgba(0, 0, 0, 0.09),
    0 45px 27px 0 rgba(0, 0, 0, 0.05),
    0 81px 32px 0 rgba(0, 0, 0, 0.01),
    0 126px 35px 0 rgba(0, 0, 0, 0);

$btn-shadow-2:
    0 0 0 0 rgba(0, 0, 0, 0.07),
    0 34px 75px 0 rgba(0, 0, 0, 0.07),
    0 137px 137px 0 rgba(0, 0, 0, 0.06),
    0 308px 185px 0 rgba(0, 0, 0, 0.04),
    0 548px 219px 0 rgba(0, 0, 0, 0.01),
    0 856px 240px 0 rgba(0, 0, 0, 0);

// Breakpoints
$tablet: 431px;
$desktop: 1025px;
