@use '../abstracts/' as *;

.flex-center {
    @include flex-center;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.hidden {
    display: none;
}
